section
    .container
        .row
            .col-sm-12.stack
                h1.
                    is-prime, only <i>it's an API</i>
                p.
                    Sure you could install an NPM package and call it a day,
                    but a true 10x developer knows that packages are wack,
                    and that you should be using all the APIs™.
