.container.stack
    h2
        span Frequently Asked Questions
    h4
        span Why can't I access the API or Docs?
    p Probably because you've been marked as suspicious and have been blocked by the Cloudflare firewall.

    h4
        span Is this a meme you're doing? Is this API supposed to be some kind of joke?
    p.
        I am a serious developer and this is serious work.
        It definitely was not developed for a nullposting meme.
