.container
    h3
        span Responses

    h4
        span 200 - OK
    p Make your 10x dreams come true.
    pre
        code.double.
            {
                "status": 200,
                "input": "420",
                "state": "not prime"
            }

    h4
        span 400 - Bad Request
    p It's Intern Season™.
    pre
        code.double.
            {
                "status": 400,
                "message": "no number was supplied"
            }